In [1]:
import pandas as pd
from utils import connect_ssh_tunnel, connect_to_db, relative_path

config_file = relative_path("config_vm.yaml")

# Se connecter à la base de données MongoDB
sshtunnel = connect_ssh_tunnel(config_file, "ssh_mysql")
mysqlEngine = connect_to_db(config_file, "database_mysql")


mysqlConn = mysqlEngine.connect().execution_options(isolation_level="AUTOCOMMIT")
mysqlConn.begin()

df_messages = pd.read_sql('Messages', mysqlConn)
df_users    = pd.read_sql('Users'   , mysqlConn)
df_notes    = pd.read_sql('Notes'   , mysqlConn)
df_course   = pd.read_sql('Course'  , mysqlConn)
df_threads  = pd.read_sql('Threads' , mysqlConn)

sshtunnel.close()

In [4]:
df_messages

,id,type,created_at,username,depth,body,parent_id,thread_id,polarity,subjectivity
0,,None,NaT,None,NaN,None,None,None,NaN,NaN
1,52ef4b71ab137b00720007d4,thread,2014-02-03 07:55:29,qb,NaN,Dans le cadre de mes études d'ingénieur j'ai é...,None,52ef4b71ab137b00720007d4,0.156250,0.137500
2,52ef4d79b4907d2e23000996,thread,2014-02-03 08:04:09,fidji,NaN,"Bonjour,\nje suis actuellement une formation d...",None,52ef4d79b4907d2e23000996,-0.120000,0.070000
3,52ef4f99344caaf903000158,thread,2014-02-03 08:13:13,ambruleaux,NaN,Bonjour à tous (et je crois que nous sommes no...,None,52ef4f99344caaf903000158,0.143636,0.177273
4,52ef50b5cfc81d7e4100090e,thread,2014-02-03 08:17:57,EricBouchet,NaN,"Bonjour, j'ai eu une expérience de Manager de ...",None,52ef50b5cfc81d7e4100090e,0.050000,0.100000
...,...,...,...,...,...,...,...,...,...,...
223301,62b4b74a39ed9e0001000082,comment,2022-06-23 18:56:10,EGo41,0.0,"Bonjour, \nEt à quoi sert la ligne 2 alors, q...",62b431ef84854e0001000044,62b431ef84854e0001000044,0.100000,0.100000
223302,62b747c7d8cfb40001000065,thread,2022-06-25 17:37:11,andeffofossi,NaN,Je n'est pas compris la carte .\nJe suis dans ...,None,62b747c7d8cfb40001000065,0.300000,0.200000
223303,62b86e6084854e000100005a,thread,2022-06-26 14:34:08,None,NaN,"Bonjour, je n'arrive pas à avoir le texte du T...",None,62b86e6084854e000100005a,0.300000,0.200000
223304,62b89f768cfc560001000065,thread,2022-06-26 18:03:34,ClemGamer,NaN,https://www.tinkercad.com/things/8XFiMDO5GfY,None,62b89f768cfc560001000065,0.000000,0.000000
223305,62bab9278cfc560001000073,thread,2022-06-28 08:17:43,Huane,NaN,"Me concernant, je suis venue à l'impression 3D...",None,62bab9278cfc560001000073,0.171000,0.190000

In [5]:
df_users

,id,username,gender,year_of_birth,city,country,level_of_education
0,59d2322b1b7c42984312cc51,,m,NaN,None,None,None
1,58fef59188d1216b89e586e2,__________jade,None,NaN,None,None,None
2,5937eaf97ab27a5f5c0b86ce,___111,None,NaN,None,None,None
3,5bace830c366db3ed12d7f88,__Baptiste__,None,NaN,None,None,None
4,62d799e373c4e45c2dd68532,__Ben__,None,NaN,None,None,None
...,...,...,...,...,...,...,...
112353,592ec31c0d924cfc37f8e75c,ZZOHRA,None,NaN,None,None,None
112354,58d571826d4d80c00f9c2217,Zzyzx,m,1994.0,None,None,jhs
112355,58d573e56d4d80c00f9c5b25,ZzZiiiOoO,None,NaN,villeneuve-d'ascq,fr,None
112356,59c248701b7c42984312b0ae,zzzzaaa,None,NaN,None,None,None
112357,5bc8387f183c7550fda065ae,zzzzj,None,NaN,None,None,None

In [6]:
df_notes

                      course_id     username  grade certificate_delivered
0       CNAM/01002S04/session04                0.00                  None
1       CNAM/01002S04/session04         _Am_   0.88                     Y
2       CNAM/01002S04/session04    _Aurelie_   0.00                     N
3       CNAM/01002S04/session04  _benedicte_   0.78                     Y
4       CNAM/01002S04/session04      _Bintou   0.00                     N
...                         ...          ...    ...                   ...
93467  MinesTelecom/04021S02/se       zundog   1.00                     N
93468  MinesTelecom/04021S02/se        ZwaZo   0.00                     N
93469  MinesTelecom/04021S02/se    zzinedine   0.00                     N
93470  MinesTelecom/04021S02/se     zzipette   0.00                     N
93471  MinesTelecom/04021S02/se       ZZOHRA   0.00                     N

[93472 rows x 4 columns]

In [7]:
df_course

                           id
0    agrocampusouest/40001S03
1    CNAM/01002/Trimestre_1_2
2     CNAM/01002S04/session04
3     CNAM/01020S02/session02
4        CNAM/01021/session01
..                        ...
157      TUMx/AUTONAVx/2T2014
158  ubordeaux/28001/Trimestr
159  umontpellier/08003/sessi
160  univ-toulouse/101001/ses
161      UPVD/95001/session01

[162 rows x 1 columns]

In [8]:
df_threads

,id,course_id,title,comments_count
0,52ef4b71ab137b00720007d4,CNAM/01002/Trimestre_1_2,Jeune Ingénieur,1
1,52ef4d79b4907d2e23000996,CNAM/01002/Trimestre_1_2,Appronfondir mes connaissances,3
2,52ef4f99344caaf903000158,CNAM/01002/Trimestre_1_2,Motivations d'une archiviste enseignante,1
3,52ef50b5cfc81d7e4100090e,CNAM/01002/Trimestre_1_2,Ancien Manager et Patron,1
4,52ef565b4b4451380f0008b2,CNAM/01002/Trimestre_1_2,Apprendre,3
...,...,...,...,...
73641,62b431ef84854e0001000044,course-v1:MinesTelecom+0,J'ai trouvé moyen d'améliorer la fin du code,1
73642,62b747c7d8cfb40001000065,course-v1:MinesTelecom+0,Visite D'un FabLab,0
73643,62b86e6084854e000100005a,course-v1:MinesTelecom+0,tExte du TP INACCESSIBLE,0
73644,62b89f768cfc560001000065,course-v1:MinesTelecom+0,TP,0
73645,62bab9278cfc560001000073,course-v1:MinesTelecom+0,Faire soi même des pièces détachées,0

In [9]:
df_users.gender.value_counts()

m    18633
f     4204
o      118
Name: gender, dtype: int64

In [27]:
df_m = df_messages[['id', 'thread_id']].rename(columns={'id': 'message_id'})
df_t = df_threads[['id', 'course_id']].rename(columns={'id': 'thread_id'})
df_c = df_course.rename(columns={'id': 'course_id'})
df = df_c.merge(df_t, on='course_id')
df = df.merge(df_m, on='thread_id')
df.groupby('course_id').count()

                          thread_id  message_id
course_id
CNAM/01002/Trimestre_1_2       6951        6951
CNAM/01002S04/session04        2195        2195
CNAM/01020S02/session02         938         938
CNAM/01021/session01           2507        2507
CNAM/01023/session01            593         593
...                             ...         ...
itii/119002/session01          3610        3610
parisdescartes/70002S03/        699         699
ubordeaux/28001/Trimestr        926         926
umontpellier/08003/sessi        932         932
univ-toulouse/101001/ses        233         233

[150 rows x 2 columns]

In [1]:
import time
from typing import Dict

import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, OneHotEncoder, RobustScaler
from sklearn.svm import SVC
from sqlalchemy import text
from utils import connect_ssh_tunnel, connect_to_db, relative_path
from xgboost import XGBClassifier
import sklearn
sklearn.set_config(display= 'diagram')

columns_OneHot          = ['city', 'course_id', 'gender', 'country', 'level_of_education']
columns_MinMax          = ['year_of_birth']
columns_Robust          = ['subjectivity', 'nb_messages']
columns_pass            = ['polarity']

transfo_year = Pipeline([
    ('imputer', SimpleImputer()),
    ('encoder', MinMaxScaler())
])

transfo_data = Pipeline([
    ('imputer', SimpleImputer(strategy='constant', fill_value='')),
    ('encoder', OneHotEncoder(handle_unknown='ignore', sparse_output=False))
])

transformers = [
    ('col_OnHot',           transfo_data,       columns_OneHot),
    ('col_MinMax',          transfo_year,       columns_MinMax),
    ('col_Robust',          RobustScaler(),     columns_Robust),
    ('col_pass',           'passthrough',       columns_pass),
]

ColumnTransformer(transformers)

ColumnTransformer(transformers=[('col_OnHot',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(fill_value='',
                                                                strategy='constant')),
                                                 ('encoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse_output=False))]),
                                 ['city', 'course_id', 'gender', 'country',
                                  'level_of_education']),
                                ('col_MinMax',
                                 Pipeline(steps=[('imputer', SimpleImputer()),
                                                 ('encoder', MinMaxScaler())]),
                                 ['year_of_birth']),
                                ('col_Robust', RobustScaler(),
                                 ['subjectivity', 'nb_messages']),
                                ('col_pass', 'passthrough', ['polarity'])])